body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.my-list {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.my-list img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}
.my-list h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
}
.my-list p {
    font-size: 16px;
    text-align: center;
    color: #666;
}
.my-list profile {
    font-size: 20px;;
    color: #f7f381;
    background: #f7f381;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px hsl(0, 0%, 20%)
}
.my-list todo {
    font-size: 20px;
    color: #f7f381;
    background: #f7f381;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px hsl(0, 0%, 20%)
}