<!DOCTYPE html>
<html lang="en">    
<head>        
    <meta charset="UTF-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>The BrownBear</title>
    <link rel="stylesheet" href="styles.css">
</head> 
<body>
    <h1> <strong> The Brown Bear </strong></h1>
    <p > The brown bear (Ursus arctos) is native to parts of northern Eurasia and North America. Its conservation status is currently "Least Concern." There are many subspecies within the brown bear species, including the Atlas bear and the Himalayan brown bear.</p>
    <a href="https://en.wikipedia.org/wiki/Brown_bear">Learn More</a>
    <h2> Here are some bear species </h2>
    <ul> 
    <h3> Species </h3>
            <ul> 
                <li>Arctos</li> 
                <li>Collarus</li> 
                <li>Horribilis</li> 
                <li>Nelsoni (extinct)</li> 
            </ul> 
    <h4> The following countries have the largest populations of brown bears:</h4>
    <ol> 
        <li> Russia </li> 
        <li> United States </li> 
        <li> Canada </li>     
    </ol>
    <br/>
    <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/web101-image_brownbear.jpg" alt="A brown bear"/>
</body>
</html>